fastapi
uvicorn[standard]
pydantic
requests
python-dotenv
aiohttp
torch
transformers
pytest
sqlalchemy
mysql-connector-python
librosa
soundfile
openai==0.28
googletrans==4.0.0-rc1
langchain
boto3
deep-translator
